[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "==6.7"
dj-database-url = "*"
Django = "==2.*"
django-anymail = "*"
django-crispy-forms = "*"
django-filter = "*"
django-html5 = "*"
django-nose = "*"
django-settings-export = "*"
factory_boy = "*"
Faker = "*"
first = "==2.0.1"
gunicorn = "==19.6.0"
inflection = "==0.3.1"
nose = "*"
numpy = "*"
pandas = "*"
python-dateutil = "*"
pytz = "==2016.10"
requests = "*"
six = "==1.10.0"
Werkzeug = "*"
whitenoise = "*"
djangorestframework = "*"
"psycopg2-binary" = "*"

[dev-packages]

[requires]
python_version = "3.6"
