{% load harvest_tags %}
{% load humanize %}

<table class="table table-responsive table-striped">
	<thead>
		<th></th>
		{% for month in summary.keys  %}
			<th>{{ month }}</th>
		{% endfor %}
	</thead>
	<tbody>
		{% for thing in summary.index %}
		<tr>
			<td>{{ Yaxis | get_item:thing }}</td>
			{% for month in summary  %}
				<td  class="text-right">
					{{ summary.to_dict | get_item:month | get_item:thing | floatformat | intcomma }}
				</td>
			{% endfor %}
		</tr>
		{% endfor %}
	</tbody>
</table>
