{% extends "base.html" %}
{% load harvest_tags %}
{% load humanize %}

{% block content %}
	<h1>Summary of {{latest_year}}</h1>
	<table class="table table-responsive table-striped">
		<thead>
			<th></th>
			{% for m in month_names  %}
				<th>{{ m }}</th>
			{% endfor %}
		</thead>
		<tbody>
			{% for op, name in operations.items %}
			<tr>
				<td>{{ name }}</td>
				{% for m in months %}
					<td>{{ summary | get_item:m | get_item:op | intcomma }}</td>
				{% endfor %}
			</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
