{% extends "base.html" %}
{% load harvest_tags %}
{% load humanize %}

{% block content %}

{% if perms.harvest.view_weighings_reports %}

<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
	<li class="nav-item">
		<a class="nav-link {% if not farm_id %}active{% endif %}" href="{% url 'harvest:home'%}">All</a>
	</li>
	{% for farm in farms %}
		<li class="nav-item">
			<a
				class="nav-link {% if farm == farm_id %}active{% endif %}"
				href="{% url 'harvest:reports' farm=farm.id %}">
				{{ farm.name }}
			</a>
		</li>
	{% endfor %}
</ul>

	<h1>Summary, {{latest_year}}</h1>

	<h2>Totals by Operation / Month</h2>

	<table class="table table-responsive table-striped">
		<thead>
			<th></th>
			{% for month in operations_summary.keys  %}
				<th>{{ month }}</th>
			{% endfor %}
		</thead>
		<tbody>
			{% for op in operations_summary.index %}
			<tr>
				<td>{{ op }}</td>
				{% for month in operations_summary  %}
					<td class="text-right">

					{% if month == "Total" %}
						{{ operations_summary.to_dict | get_item:month | get_item:op | floatformat | intcomma }}
					{% else %}

						{% if farm_id.id %}
							<a href="{% url 'harvest:breakdown' farm_id.id latest_year month|lower|slice:":3" op %}">
								{{ operations_summary.to_dict | get_item:month | get_item:op | floatformat | intcomma }}
							</a>
						{% else %}
							<a href="{% url 'harvest:breakdown'  latest_year month|lower|slice:":3" op %}">
								{{ operations_summary.to_dict | get_item:month | get_item:op | floatformat | intcomma }}
							</a>
						{% endif %}
					{% endif %}
					</td>
				{% endfor %}
			</tr>
			{% endfor %}
		</tbody>
	</table>

	<h2>Blocks / Varietys</h2>

	<div class="card">
		<div class="card-body">
			<h5 class="card-title">
					Dehusk
			</h5>
			<div class="card-block">
				{% include "harvest/_table_weight_summary.html" with summary=block_summary_dehusk Xaxis=month_names Yaxis=blocks year=latest_year op="dehusk" %}
			</div>
		</div>
	</div>

	<div class="card">
		<div class="card-body">
			<h5 class="card-title">
					Resort
			</h5>
			<div class="card-block">
				{% include "harvest/_table_weight_summary.html" with summary=block_summary_resort Xaxis=month_names Yaxis=blocks year=latest_year op="dehusk" %}
			</div>
		</div>
	</div>

	<div class="card">
		<div class="card-body">
			<h5 class="card-title">
					Sales
			</h5>
			<div class="card-block">
				{% include "harvest/_table_weight_summary.html" with summary=block_summary_sale Xaxis=month_names Yaxis=blocks year=latest_year op="sale" %}
			</div>
		</div>
	</div>


{% endif %}

{% endblock %}
