{% extends "base.html" %}
{% load humanize %}

{% block content %}
	<h1>
		Sales Dockets
		{% if current_year > 0 %}<small class="text-muted">{{current_year}}</small>{% endif %}
	</h1>
	<ul class="list-inline">
		{% for year in avaiable_years %}
			{% if current_year == year %}
				<li class="list-inline-item">{{year}}</li>
			{% else %}
				<li class="list-inline-item"><a class="" href="{% url 'harvest:sales_list' year=year %}">{{year}}</a></li>
			{% endif %}
		{% endfor %}
	</ul>
	<table class="table table-responsive table-striped">
	  <thead>
		<tr>
			<th><a href="?sort={% if sort == 'date' %}-{% endif %}date">date</a></th>
			<th><a href="?sort={% if sort == 'docket_number' %}-{% endif %}docket_number">docket number</a></th>
			<th><a href="?sort={% if sort == 'delivery_weight' %}-{% endif %}delivery_weight">delivery weight</a></th>
			<th><a href="?sort={% if sort == 'percent_moisture' %}-{% endif %}percent_moisture">moisture %</a></th>
			<th><a href="?sort={% if sort == 'net_payment' %}-{% endif %}net_payment">net payment $</a></th>
		</tr>
	  </thead>
	  <tbody>
		{% for object in object_list %}
			<tr>
				<td scope="row">{{object.date | naturalday}}</td>
				<td>{{object.docket_number}}</td>
				<td class="text-right">{{object.delivery_weight | intcomma}}</td>
				<td class="text-right">{{object.percent_moisture}}</td>
				<td class="text-right">{{object.net_payment | intcomma}}</td>
			</tr>
		{% endfor %}
	  </tbody>
	<table>
{% endblock %}
