{% extends "base.html" %}
{% load humanize %}

{% block title %}{{current_year}} Sales Dockets listing, {% endblock %}

{% block content %}
	<h1>
		Sales Dockets
		{% if current_year > 0 %}<small class="text-muted">{{current_year}}</small>{% endif %}
	</h1>
	<ul class="list-inline">
		{% for year in avaiable_years %}
			{% if current_year == year %}
				<li class="list-inline-item">{{year}}</li>
			{% else %}
				<li class="list-inline-item"><a class="" href="{% url 'harvest:sales_list' year=year %}">{{year}}</a></li>
			{% endif %}
		{% endfor %}
	</ul>
	

	<div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Year toolbar">
		<div class="btn-group" role="group" aria-label="Operations">
			<a class="btn btn-success" href="{% url 'harvest:process_consignment' %}">Upload Consignment XML</a>
		</div>
	</div>
	
	{% if object_list %}
	
	<table class="table table-responsive table-striped">
	  <thead>
		<tr>
			<th><a href="?sort={% if sort == 'delivery_date' %}-{% endif %}delivery_date">Delivery date</a></th>
			<th><a href="?sort={% if sort == 'consignment_number' %}-{% endif %}consignment_number">Consignment number</a></th>
			<th><a href="?sort={% if sort == 'kg_weight_received' %}-{% endif %}kg_weight_received">weight received (KG)</a></th>
			<th><a href="?sort={% if sort == 'moisture_content_pct' %}-{% endif %}moisture_content_pct">Moisture %</a></th>
			<th><a href="?sort={% if sort == 'net_payment' %}-{% endif %}net_payment">net payment $</a></th>
			<th></th>
		</tr>
	  </thead>
	  <tbody>
		{% for object in object_list %}
			<tr>
				<td scope="row">{{object.delivery_date | naturalday}}</td>
				<td>{{object.consignment_number}}</td>
				<td class="text-right">{{object.delivery_weight | intcomma}}</td>
				<td class="text-right">{{object.moisture_content_pct}}</td>
				<td class="text-right">{{object.net_payment | intcomma}}</td>
				<td>
					<div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
						{% if perms.harvest.change_salesdocket %}
							<a class="btn btn-warning" href="{% url 'harvest:sale_edit' object.id %}">edit</a>
						{% endif %}
						{% if perms.harvest.delete_salesdocket %}
							<a class="btn btn-danger" href="{% url 'harvest:sale_delete' object.id %}">delete</a>
						{% endif %}
					</div>
				</td>
			</tr>
		{% endfor %}
	  </tbody>
	<table>
		

	<div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Year toolbar">
		<div class="btn-group" role="group" aria-label="Operations">
			<a class="btn btn-success" href="{% url 'harvest:process_consignment' %}">Upload Consignment XML</a>
		</div>
	</div>
	
	{% endif %}
		
{% endblock %}
