{% extends "base.html" %}
{% load humanize %}

{% block title %}{{current_year}} Weighings listing, {% endblock %}

{% block content %}
	<h1>
		Weighings
		{% if current_year > 0 %}<small class="text-muted">{{current_year}} {{current_op}}</small>{% endif %}
	</h1>
	<ul class="list-inline">
		<li class="list-inline-item">Years:</li>
		{% for year in avaiable_years %}
			{% if current_year == year %}
				<li class="list-inline-item">{{year }}</li>
			{% else %}
				<li class="list-inline-item"><a class="" href="{% url 'harvest:weighing_list' year=year %}">{{year}}</a></li>
			{% endif %}
		{% endfor %}
	</ul>


	<div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Year toolbar">
		<div class="btn-group" role="group" aria-label="Operations">
			<a class="btn btn-success" href="{% url 'harvest:weighing' %}">Add Batch Weighing</a>
		</div>
		{% if object_list %}
			<div class="btn-group" role="group" aria-label="Download">
				<a class="btn btn-secondary" href="{% url 'harvest:weighing_list_csv' year=current_year %}" title="Download the years data for Excel (.CSV)">Download {{current_year}}</a>
			</div>
		{% endif %}
	</div>
	
	{% if object_list %}
	<table class="table table-responsive table-striped">
	  <thead>
	    <tr>
	      <th><a href="?sort={% if sort == 'report_date' %}-{% endif %}report_date">date</a></th>
	      <th><a href="?sort={% if sort == 'operation' %}-{% endif %}operation">operation</a></th>
	      <th><a href="?sort={% if sort == 'weight' %}-{% endif %}weight">weight</a></th>
	      <th><a href="?sort={% if sort == 'variety' %}-{% endif %}variety">variety</a></th>
		  <th><a href="?sort={% if sort == 'from_silo' %}-{% endif %}from_silo">from</a></th>
		  <th><a href="?sort={% if sort == 'to_silo' %}-{% endif %}to_silo">to</a></th>
		  <th></th>
	    </tr>
	  </thead>
	  <tbody>
		  {% for object in object_list %}
		  <tr>
			<td>{{object.report_date | naturalday}}</td>
			{% if current_op == object.operation %}
				<td>{{object.operation}}</td>
			{% else %}
		  		<td><a href="{% url 'harvest:weighing_list' current_year object.operation %}">{{object.operation}}</a></td>
			{% endif %}
			<td>{{object.weight | intcomma}}</td>
			<td>{{object.variety}}</td>
			<td>{{object.from_silo}}</td>
			<td>{{object.to_silo}}</td>
			<td>
				<div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
					<a class="btn btn-warning" href="{% url 'harvest:weighing_edit' object.id %}">edit</a>
					<a class="btn btn-danger" href="{% url 'harvest:weighing_delete' object.id %}">delete</a>
				</div>
			</td>
		  </tr>
		  {% endfor %}
	  </tbody>
	<table>
	
	<div class="btn-group" role="group" aria-label="Operations">
		<a class="btn btn-success" href="{% url 'harvest:weighing' %}">Add Batch Weighing</a>
	</div>
	{% endif %}

{% endblock %}
