{% load static %}<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta http-equiv="x-ua-compatible" content="ie=edge">

		<title>{% block title %}{% endblock %}{{settings.SITE_TITLE}}</title>

		<!-- Place favicon.ico in the root directory -->
		<link rel="apple-touch-icon" href="{% static "apple-touch-icon.png" %}">

		{% if settings.DEBUG %}

			<link href="{% static "css/vendor/bootstrap.min.css" %}" rel="stylesheet" type="text/css">
			<link href="{% static "css/vendor/c3.css" %}" rel="stylesheet" type="text/css">
			<script src="{% static "js/vendor/modernizr-2.8.3.min.js" %}"></script>

		{% else %}

			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

		{% endif %}

		{% block css %}{% endblock %}

		<link rel="stylesheet" href="{% static "css/main.css" %}">

	</head>
	<body>
		<!--[if lt IE 8]>
			<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->

		{% include "nav.html" %}

		<!-- Add your site or application content here -->
		<div class="container">

		{% block content %}

			{% include "index.html" %}

		{% endblock %}

		</div><!-- /.container -->

		{% if settings.DEBUG %}
			<script src="{% static "js/vendor/jquery-3.2.1.slim.min.js" %}"></script>
			<script src="{% static "js/vendor/popper.min.js" %}"></script>
			<script src="{% static "js/vendor/bootstrap.min.js" %}"></script>
			<script src="{% static "js/vendor/jquery.cookie.js" %}"></script>
		{% else %}
			<!-- jQuery first, then Popper.js, then Bootstrap JS -->
			<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js" charset="utf-8"></script>
		{% endif %}

		<script src="{% static "js/plugins.js" %}"></script>
		{% block js %}{% endblock %}
		<script src="{% static "js/main.js" %}"></script>

	</body>
</html>
