pip-tools
psycopg2
dj-database-url
django
django-extensions
django-crispy-forms
django-html5
gunicorn
whitenoise  # serving static files in production coz Django doesn't
django-settings-export
inflection

# Data reporting

pandas

# Debugging

factory_boy
django-nose
Werkzeug
# django-debug-toolbar
